@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");
@import url(http://allfont.ru/allfont.css?fonts=aleo-regular);
ul {
  list-style: none; }

a, a:hover {
  text-decoration: none; }

body {
  margin: 0; }

header:before {
  content: '';
  clear: both;
  display: block; }

header {
  width: 100%;
  background: url("img/bg1.png");
  min-height: 100vh;
  padding-bottom: 50px;
  box-sizing: border-box; }
  header h1 {
    font: 700 48px/0.54 Josefin, sens-serif;
    color: #ffff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 365px; }
  header h3 {
    font: 400 22px/1.18 Josefin, sens-serif;
    text-align: center;
    color: #ffff;
    padding-top: 5px;
    margin: 0 0 50px 0; }
  header form {
    margin-left: 25%;
    width: 660px; }
    header form input {
      width: 504px;
      height: 60px;
      background: #ffff;
      color: #a0a0a0;
      text-align: center;
      border: 1px solid #ffff; }
    header form .knopka {
      width: 150px;
      position: relative;
      top: -46px;
      right: -77%; }
      header form .knopka input[type=submit] {
        width: 146px;
        height: 65px;
        background: #5474fd;
        position: absolute;
        top: -19px;
        left: 0;
        text-transform: uppercase;
        border: 1px solid #ffff; }
      header form .knopka span {
        position: absolute;
        top: 2px;
        right: 20px; }
    header form input[type=submit]:hover {
      background: #1127FD; }
  header h2 {
    font: 400 14px/1.85 Josefin, sens-serif;
    text-align: center;
    color: #ffff;
    margin-top: 118px;
    margin-bottom: 14px; }
  header a {
    margin-left: 49%; }

nav:after, nav:before {
  content: '';
  clear: both;
  display: block; }

nav {
  width: 100%;
  min-height: 80px;
  background: #5474fd; }
  nav .menu {
    width: 1110px;
    margin-left: 125px; }
  nav a {
    float: left;
    color: #ffff;
    padding-top: 30px;
    font: 700 24px/1.08 Josefin, sens-serif;
    text-transform: uppercase; }
  nav ul {
    float: right;
    display: block;
    padding: 0;
    margin: 0; }
  nav li {
    float: left;
    margin-right: 30px; }
    nav li a {
      color: #ffff;
      text-transform: uppercase;
      font: 400 14px/1.85 Josefin, sens-serif;
      padding-top: 30px; }
  nav li:last-child {
    margin-right: 0; }

.section1:before, .section1:after {
  content: '';
  clear: both;
  display: block; }

.section1 {
  width: 100%;
  min-height: 685px;
  background: url("img/bg2.png");
  box-sizing: border-box;
  position: relative; }
  .section1 .text {
    width: 432px;
    position: absolute;
    top: 200px;
    left: 332px; }
    .section1 .text h2 {
      font: 700 36px/0.72 Aleo Regular, sans-serif;
      color: #ffff;
      margin: 0;
      padding-bottom: 52px; }
    .section1 .text p {
      font: 400 16px/1.62 Josefin, sens-serif;
      color: #ffff; }
    .section1 .text input {
      text-align: center;
      padding: 22px 40px;
      text-transform: uppercase;
      background: #5474fd;
      color: #ffff;
      border: 1px solid #5474fd;
      margin-top: 30px; }
    .section1 .text input:hover {
      background: #0813FD; }
  .section1 .picture {
    float: right;
    width: 527px;
    height: 522px;
    margin-top: 120px; }
    .section1 .picture img {
      position: absolute; }
    .section1 .picture .img2 {
      top: 343px;
      right: 50px; }

.section2 {
  width: 100%;
  min-height: 340px;
  background: #333333; }
  .section2 .icon {
    background: url("img/Shape.svg") no-repeat;
    background-position: right 241px bottom 180px;
    width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 98px;
    margin-left: 173px; }
    .section2 .icon .icon-icon {
      display: inline-block;
      height: 200px;
      width: 200px; }
    .section2 .icon img {
      padding-bottom: 55px; }
    .section2 .icon span {
      margin-left: -123px;
      display: inline-block;
      font: 400 36px/0.72 Aleo Regular, sans-serif;
      color: #ffff; }

.section3 {
  width: 100%;
  min-height: 700px;
  background: url("img/bg3.png") no-repeat;
  position: relative; }
  .section3 .text2 {
    color: #ffff;
    width: 516px;
    height: 330px;
    background: url("img/bg4.png");
    padding: 46px 27px;
    position: absolute;
    top: 229px;
    left: 111px; }
    .section3 .text2 h3 {
      font: 400 20px/1.3 Josefin, sens-serif; }
    .section3 .text2 h2 {
      margin: 27px 0 27px 0;
      text-transform: uppercase;
      font: 400 20px/1.3 Josefin, sens-serif; }
    .section3 .text2 p {
      font: 400 16px/1.6 Josefin, sens-serif;
      margin-bottom: 70px; }
    .section3 .text2 a {
      font: 16px/1.6 Aleo Regular, sans-serif;
      color: #ffff;
      padding: 20px 60px;
      text-transform: uppercase;
      background: #496bfe; }

.section3:after, .section3:before {
  content: '';
  clear: both;
  display: block; }

.section4:after, .section4:before {
  content: '';
  clear: both;
  display: block; }

.section4 {
  width: 100%;
  min-height: 700px;
  background: url("img/bg5.png") no-repeat;
  position: relative; }
  .section4 .text2 {
    color: #ffff;
    width: 516px;
    height: 330px;
    background: url("img/bg4.png");
    padding: 46px 27px;
    position: absolute;
    top: 229px;
    left: 714px; }
    .section4 .text2 h3 {
      font: 400 20px/1.3 Josefin, sens-serif; }
    .section4 .text2 h2 {
      margin: 27px 0 27px 0;
      text-transform: uppercase;
      font: 400 20px/1.3 Josefin, sens-serif; }
    .section4 .text2 p {
      font: 400 16px/1.6 Josefin, sens-serif;
      margin-bottom: 70px; }
    .section4 .text2 a {
      font: 16px/1.6 Aleo Regular, sans-serif;
      color: #ffff;
      padding: 20px 60px;
      text-transform: uppercase;
      background: #496bfe; }

.section5 {
  width: 100%;
  min-height: 735px;
  background: url("img/bg6.png");
  position: relative; }
  .section5 h2 {
    text-align: center;
    font: 36px/0.72 Aleo Regular, sans-serif;
    color: #ffff;
    padding-top: 120px;
    margin: 0 0 95px 0; }
  .section5 .content {
    height: 290px;
    float: left;
    margin-left: 70px; }
    .section5 .content .boy {
      background: url("img/boy.png") no-repeat;
      width: 445px;
      height: 289px;
      float: left;
      display: inline-block; }
    .section5 .content-boy {
      width: 653px;
      padding: 47px 58px;
      background: #333333;
      display: inline-block;
      float: left; }
      .section5 .content-boy h3 {
        font: 400 20px/1.3 Josefin, sens-serif;
        color: #ffff;
        margin-bottom: 27px; }
      .section5 .content-boy p {
        font: 400 16px/1.6 Josefin, sens-serif;
        color: #ffff; }
      .section5 .content-boy .fa {
        color: #0813FD; }

.strelki {
  width: 181px;
  height: 67px;
  display: inline-block;
  position: absolute;
  top: 560px;
  right: 62px; }
  .strelki .strelka1 {
    border: 1px solid #ffff;
    display: inline-block;
    padding: 14px 37px; }

footer {
  width: 100%;
  min-height: 268px;
  background: #232323; }
  footer h2 {
    font: 700 24px/1.08 Josefin, sens-serif;
    color: #ffff;
    text-align: center;
    padding-top: 204px;
    margin-top: -96px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .14em; }
  footer h3 {
    font: 400 16px/1.62 Josefin, sens-serif;
    letter-spacing: .1em;
    text-align: center;
    color: #ffff;
    margin: 0; }
  footer .seti {
    display: inline-block;
    width: 300px;
    height: 50px;
    margin-left: 570px;
    padding-top: 23px; }
    footer .seti a {
      margin-left: 20px; }
  footer .fal {
    color: #0813FD; }

/*# sourceMappingURL=scss.css.map */
